<%= render 'shared/navbar' %>


<body style='background-color:white'>
	</br>
	<div class='ribbon-vert'>
		<div class='ribbon-vert-stitches-top'></div>
		<div class='row ribbon-vert-content'><h1>
			<div class='row text-center'>
				Редактировать / Обновить объявление
			</div>
		</h1></div>
		<div class='row ribbon-vert-stitches-bottom'></div>
	</div>
	<div class='container-fluid listing-sm'>
	<%= render 'form' %>
	</div>
	</br>
</body>