




<nav class="navbar">
	<div class='container-fluid text-center'>
		<div class='navbar-brand'>
	<a href='<%=root_path%>'><i class="fa fa-bus" aria-hidden="true"></i></a>
</div>
	<ul class='notconnectedlinks nav navbar-nav navbar-right'>
	<li><a href='<%= new_user_session_path%>'><i class="iconsignin fa fa-sign-in"></i>  </br>вход </a></li>
	<li><a href='<%= new_user_registration_path%>'><i class="fa fa-pencil" aria-hidden="true"></i></br>Регистрация</a></li>
	</ul>
	
	</div>
</nav>