<%= render 'shared/navbar' %>

	<div class='container-fluid listing-xs'>
	<div class='row text-center listing-title-xs'>
		<h3> Редактировать / Обновить объявление </h3>
	</div>
	<%= render 'form' %>
	</div>
	</br>