<%= render 'shared/navbar' %>
	<div class='ribbon-vert ribbon-for-mobile'>
		<div class='ribbon-vert-stitches-top'></div>
		<div class='row ribbon-vert-content'><h1>
			<div class='row text-center'>
				Создать Объявление
			</div>
		</h1></div>
		<div class='row ribbon-vert-stitches-bottom'></div>
	</div>
	<div class='container-fluid listing-xs'>
	</br>
	<%= render 'form' %>
	</div>
	</br>
