  <div class='row text-center info-fields'>
    <h2> Информация о поездке </h2>
  </div>
  <div class='row input'>
    <p> Helloooooooooooooooooo bunny honey </p>

  </div>

  <div class='row text-center info-fields'>
    <h2> Информация о ценах </h2>
  </div>
  <div class='row input'>
    <p> Helloooooooooooooooooo bunny honey </p>

  </div>


  <div class='row text-center info-fields'>
    <h2> Контакт и подробности </h2>
  </div>
  <div class='row input'>
    <p> Helloooooooooooooooooo bunny honey </p>
  </div> 
