
<div class='container text-center'>
	<div class='row'>
		<h2><i class='glyphicon glyphicon-pencil'></i> Редактировать / Обновить объявление</h2>
	</div>
<%= render 'form' %>

<%= link_to 'Вернуться назад', annonces_path %>

</div>
