		<%= render 'shared/navbar' %>

<div class='body'>
	<div class='container-fluid listing'>
		<div class='row text-center listing-title'>
			<h1> Создать объявление</h1>
		</div>

		<div class='row notice'>
			<div class='row text-center'>
				<h4> Заметка </h4>
			</div>
			<div>
				<h5> Если вы заполните все поля, клиенты будут иметь меньше вопросов. Если поисковик вам предлагает нужный город, рекомендуем выбрать его из списка. Так клиентам будет легче найти ваше объявление.</h5>
			</div>
		</div>

<%= render 'form' %>
	</div>
</div>

	

