<%= render 'shared/navbar' %>


<body style='background-color:white'>
	<div class='container-fluid listing'>
	<div class='row text-center listing-title'>
		<h1> Создать Объявление </h1>
	</div>
	<%= render 'form' %>
	</div>
	</br>
	</br>
</body>

	