// DESIGN BODY LAYOUT --------->




.count_mob_2partxs{
	border-top: dashed 3px #4d5051;
	border-bottom: dashed 3px #4d5051;
	padding-top: 20px;
	background-color: #2B2D2E;
	padding-left: 5px;
}

.conditions{
	font-family: "Play" sans-serif;
}

.footer-md{
	border-top: dashed 3px #4d5051;
	border-bottom: dashed 3px #4d5051;
	padding-top: 20px;
	background-color: #2B2D2E;
	padding-left: 5px;
}

.footer-md h5{
	font-size: 18px;
	color: #635545;
	font-family: 'Russo One', sans-serif;
}

.footer-md .fa{
	font-size: 35px;
	color: #635545;
}

.footer-md ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

.footer-md ul li a{
	font-style: italic;
	font-weight: lighter;
	color: #525557;
	padding-bottom: 5px;
}

.footer-md ul li a:hover{
	font-style: italic;
	font-weight: lighter;
	color: #a49960;
}

.footer-md ul li{

	padding-bottom: 8px;
}

.footer-lists-xs{
	border-top: dashed 1px #4d5051;
	padding-bottom: 15px;
}

.footer-blocks-xs{
	padding-top: 15px;
}

.footer-blocks-xs {
	padding: 8px;
}

.count_mob_2partxs h5{
	font-size: 18px;
	color: #635545;
	font-family: 'Russo One', sans-serif;
}

.count_mob_2partxs .fa{
	font-size: 35px;
	color: #635545;
}

.count_mob_2partxs ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

.count_mob_2partxs ul li a{
	font-style: italic;
	font-weight: lighter;
	color: #525557;
	padding-bottom: 5px;
}

.count_mob_2partxs ul li a:hover{
	font-style: italic;
	font-weight: lighter;
	color: #a49960;
}

.count_mob_2partxs ul li{
	padding-bottom: 8px;
}

.vajnoexs{
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;

}


.vajnoexs h4{
	color:#bca37e;
	font-family: 'Russo One', sans-serif;
}

.tudadateprixxs{
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: solid 1px #d1bb9a;
}

.photo-responsive{
	width: 100%;
	height: 50vh;
}

.photo-responsive-mini{
	width: 100%;
	height: 100%;
	padding-bottom: 0;
}

.photo-mini{
	padding: 0;
	height: 20vh;

}
.obnovitxs{
	padding-top:20px;
}
.photo-responsivemini-xs{
	width: 100%;
	height: 100%;
}


.three-photos-dimension-xs{
	height: 110px;
	padding:0;
}
.three-photos-dimension-sm{
	height: 300px;
	padding:0;
}
.photo-responsiveminism{
	width: 100%;
	height: 50vh;
}

.image-picker, .image-picker2, .image-picker3{
	cursor: pointer; cursor: hand;
	width: 100%;
	height: 100%;
	padding:0;
}

.image-picker-ok, .image-picker-ok2, .image-picker-ok3{
	cursor: pointer; cursor: hand;
	width: 100%;
	height: 100%;
	padding:0;
}

.paragraphone{
	padding: 10px 5px 5px 10px;
	border-radius: 20px 20px 20px 0;
	border: 4px solid #a1bfb1;
	margin-top: 20px;
	text-align: justify;
}

.paragraphonesm {
	padding: 10px 5px 5px 10px;
	border-radius: 20px 20px 20px 0;
	border: 4px solid #ba9d73;
	margin-top: 20px;
}
.avatarpodrobneesm{
	margin-top:40px;
}

.avatarpodrobneexs{
	margin-top:60px;
}

.paragraphone h5{
	font-size: 15px;
	color:#FDFAE9;
}

.paragraphonesm h5{
	font-size: 17px;
	color:#ba9d73;
}

.paragraphonexs{
	border-radius: 20px 20px 20px 0;
	border: 3px solid #a1bfb1;
	text-align: justify;
}

.paragraphonexs h5{
	font-size: 15px;
	color:#a1bfb1;
}

.speech{
	border: dashed 4px #83A37A;
	border-radius: 0 25px 25px 25px;
	padding: 5px;
}

.speechcontainer{
	padding: 2px;
	margin-top:40px;
	background-color: #E69894;
	border-radius: 0 25px 25px 25px;
}

.contactinputssm .fa{
	color:white;
}

.chauffeuriconk{
	margin-top:45px;
	color:white;
}


.gorodpodrobnee .fa{
	color:#FDFAE9;
}

.gorodpodrobnee{
	width:45px;
	padding-right: 4px;
	text-align: left;
	color:#8a8a8a;
}

.gorodpodrobnee p{
	color:#EDE8D5;
}

.gorodpodrobnee h4{
	font-size: 20px;
}

.gorodpodrobnee h3{
	color:#E69894;
	font-size: 20px;
}

.podrobnemarshrut{
	padding-top: 30px;
}

.podrobnemarshrutxs{
	padding-top: 45px;
	padding-bottom: 20px;
}

.mapxs{
	padding-top: 30px;
	height:90px;
}

.maplinepodrobnee{
	position:absolute;
	width: 30px;
	border-top:solid 3px #a1bfb1;
	margin-top: 8px;
}

.podrobnemarshrut h4{
	color:#a1bfb1;
}

.vajnoeoba{
	overflow: hidden;
	height: 480px;
	margin: 0;
	padding:0;
	height: 70vh;
}

.vajnoe{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 15px;
	height: 70vh;
}

.fotopardefaultxs img{
	width:100%;
}

.vajnoe2{
	display:none;
	width: 100%;
	background-color: #E69894;
	margin: 0;
	height: 70vh;
}

.vajnoe2xs{
	width: 100%;
	background-color: #78A38F;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.vajnoe2sm{
	width: 100%;
	background-color: #78A38F;
	border:none;
	margin: 0;
	padding-top: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0;
}
.containercustom2{
	background-color: #78A38F;
	width: 100%;
	padding-bottom: 10px;
}

.cartexs2{
	padding-top: 15px;
}

.containercustom2xs{
	background-color: #78A38F;
	width: 100%;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 0px;
	margin:0;
}

.containercustom2sm{
	background-color: #78A38F;
	width: 100%;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 0px;
	border:none;
	margin:0;
}

.tuda .datedeparture h4{
	margin-top: 14px;
	font-size: 19px;
	color: #2E2E2E;
}

.headershow{
	height: 70vh;
	overflow: hidden;
}

.lastvoditelmashina{
	padding-top: 5px;
	width:100%;
	height: auto;
	padding-bottom: 5px;
}

.lastvoditelmashinaxs{
	padding-top: 5px;
	width:100%;
	height: auto;
	padding-bottom: 5px;
}

.lastvoditelmashinasm{
	padding-top: 5px;
	padding-bottom: 5px;
}

.lastvoditelmashina .fa{
	margin: 0;
	font-size: 15px;
	color:#a1bfb1;
}

.lastvoditelmashinaxs .fa{
	padding:0;
	margin: 0;
	font-size: 25px;
	color:#c23a3a;
}

.colmd4{
	margin:0;
	padding:0;
}


.lastvoditelmashinaxs h3{
	padding: 0;
	margin-top:5px;
	font-size: 17px;
	color:gray;
}

.lastvoditelmashina h3{
	padding: 0;
	margin-top:5px;
	font-size: 17px;
	color:#b2966c;
	font-family: "Play", sans-serif;
}

.voditeletmashina .fa{
	padding:0;
	margin: 0;
	font-size: 15px;
	color:#6d6b6b;

}

.voditeletmashinaxs .fa{
	padding:0;
	margin: 0;
	font-size: 20px;
	color:gray;
}

.voditeletmashinasm .fa{
	padding:0;
	margin: 0;
	font-size: 25px;
	color:#c23a3a;
}


.voditeletmashina2sm .fa{
	padding:0;
	margin: 0;
	font-size: 25px;
	color:#c23a3a;
}

.voditeletmashina2 .fa{
	font-size: 20px;
	color:white;
}

.voditeletmashina2 h3{
	padding: 0;
	margin-top: 5px;
	margin-left: 0px;
	font-size: 17px;
	color:#b2966c;
	font-family: "Play", sans-serif;
}

.voditeletmashina2sm h3{
	padding: 0;
	margin-top: 5px;
	margin-left: 0px;
	font-size: 17px;
	color:#b2966c;
	font-family: "Play", sans-serif;
}

.voditeletmashina h3{
	margin-top:5px;
	padding: 0;
	font-size: 15px;
	color:#706f6f;
	font-family: "Play", sans-serif;
}

.voditeletmashinaxs h3{
	margin-top:5px;
	padding: 0;
	font-size: 17px;
	color:gray;

}

.voditeletmashinasm h3{
	margin-top:5px;
	padding: 0;
	font-size: 17px;
	color:#b2966c;
	font-family: "Play", sans-serif;
}

.voditeletmashinasm{
	padding-top: 5px;
	padding-bottom: 5px;
}


.paragraphone2{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}

.voditeletmashinaspec2 h5{
	color:white;
}

.voditeletmashina2{
	border-bottom: 2px dashed rgba(220, 210, 173, 0.82);
	padding-top: 15px;
	width:100%;
	height: auto;
	padding-bottom: 15px;
}

.voditeletmashina{
	padding-top: 5px;
	width:100%;
	height: auto;
}

.iconphonewhatsapp{
	padding: 0;
}

.voditeletmashinaxs{
	padding-top: 10px;
	width:100%;
	padding-bottom: 5px;
}

.fotka img{
	filter: saturate(50%);

}

.fotka{
	padding: 0;
	margin: 0;
}


.tuda{
	font-family: 'Russo One', sans-serif;
}

.tuda:before, .tuda:after{
	position: absolute;
	font-family: 'Russo One', sans-serif;
	background-color: #f47d19;
	position: relative;
}

.tuda h4{
	padding-bottom: 10px;
	font-size:23px;
	color:#2E2E2E;
}


.containercustom{
	display: hidden;
	margin-left: 0;
	padding-left: 0;
}

.map{
	margin-bottom: 0px;
}

.podrobnexs{
	padding-right: 25px;
}

.gorod{
	width:57px;
	padding-right: 3px;
	text-align: left;
	color:#8a8a8a;
}

.gorod p{
	color:#8a8a8a;
	font-family: 'Play', sans-serif;
}
.gorod h4{

	color:#a6a6a6;
}

.gorod h3{
	color:#E69595;
}

.gorodxs{
	width:25px;
	padding-right: 2px;
	color:#8a8a8a;
}

.gorodxs p{
	font-size: 12px;
	color:#8a8a8a;
	font-family: 'Play', sans-serif;
}
.gorodxs h4{
	font-size: 14px;
	color:#a6a6a6;
}

.gorodxs h3{
	font-size: 14px;
	color:#E69595;
}

.maplinexs{
	position:absolute;
	width: 17px;
	height: 1px;
	background-color: #a6a6a6;
	margin-top: 10px;
}

.mailinfo{
	font-family: 'Marck Script', cursive;
	color:#dcd0bc;
}

.absolut{
	position:absolute;
}

.mobiletel{
	background-color: #ede7de;
	border-top: solid 0.5px gray;
}

.entourp{
	transform: rotate(-30deg);
}

.marshrut{
	border: dashed 3px #e5ded3;
	background-color: #f1ece4;
	padding-top: 20px;
}

.marshrutxs{
	background-color: #f1ece4;
    padding: 6px;
    padding-bottom: 10px;
    border-top: 1px solid gray;
}

.pinline{
	display:inline;
}


.maplinespec{
	position:absolute;
	width: 45px;
	height: 2px;
	background-color: #a6a6a6;
	margin-top: 12px;

}

.mapline{
	position:absolute;
	width: 45px;
	height: 2px;
	background-color: #a6a6a6;
	margin-top: 7px;
}

.pinlineblock{
	display:inline-block;
}

.ploho p{
	margin-top:5px;
	color:#DC574E;
}

.xorosho{
	border-left:solid 1px #D1CBD6;
}

.xorosho p{
	margin-top:5px;
	color:#A7BD5B;
}

.notverifiedxs{
	width:100%;
	height:auto;
}

.notverified{
	width:50%;
	height:auto;
}

.verify .fa{
	font-size:20px;
	color:green;
}

.inputterkod{

    background-position: 5px -7px !important;
    padding: 10px 10px 10px 25px;
    width: 150px;
	height:40px;
    border: 1px solid #CCC;
    -moz-border-radius: 8px;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
	margin-bottom:10px;
}

.inputter:focus {
    background-color: #FFF;
    border-color: #E8C291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}

.verification{
	width:50%;
	height:auto;
	background-color:#DAEAEF;
	border-radius:10px;
	margin-top:15px;
	margin-bottom:15px;
}

.verificationxs{
	width:100%;
	height:auto;
	background-color:#DAEAEF;
	border-radius:10px;
	margin-top:15px;
	margin-bottom:15px;
}

.verification .fa{
	font-size:18px;
	color:#E74C3C;
}

.verificationxs .fa{
	font-size:18px;
	color:#E74C3C;
}


.verification h5{
	color:#2A2C2B;
	display:inline;
}

.verificationxs h5{
	color:#2A2C2B;
	display:inline;
}

.verification h6{
	color:gray;
}

.verificationxs h6{
	color:gray;
}

.alert{
	margin:0;
	width:100%;
	height:60px;
}

.alert-{
	margin:0;
	width:100%;
	height:60px;
}

.textverif{
	width:50%;
	height:auto;
}
.copyright p{
	color:#595e60;
}

body.searches{
	background: asset-data-url("cover.jpg") center center fixed;
	background-color: #3b4a52;
	background-size:100%;
	font-family: 'Comfort', sans-serif;
	padding-bottom: 0px;
}

body{
	background-color: #ffffff;
	font-family: 'Comfort', sans-serif;
	padding-bottom: 0px;

}


a:focus { outline: 0; }
textarea:focus, input:focus{
    outline: none;
}

.row{
	margin:0;
}

// LOGIN DESIGN 

.vxodline{
	border-bottom:solid 1px gray;
}


// CREATE ANNONCE DESIGN 

.showcontainer{
	padding:15px;
	width: 80%;
	height: auto;
}

.enteteshow{
	background-color: #c0baaf;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px 5px 0 0;
}

.enteteshow h4{
	color:white;
}

.intercalere{
	border-top:solid 1px #B8B89F;
}

//NAVBAR GENERAL DESIGN

.notconnectedlinksmobile{
	margin-top:15px;
}

.notconnectedlinksmobile li{
	list-style-type:none;
	display:inline;
	margin-left:10px;
}

.notconnectedlinksmobile li a{
	color:#3E454C;
}

.notibtn{
	width:auto;
	height:40px;
	border-radius:5px;
}

.notif .fa{
	margin-top:3px;
	color:#F2594B;
	
}

.notif{
	color:#F2594B;
	
}
.navbar{
	border-radius:0;
	margin:0;
	padding:0;
	background-color: white;
}

.notconnectedlinks li a{
	color:#3E454C;
}
.notconnectedlinks li a:hover{
	background-color:transparent; 
	color:#333333;
}

.navbar-brand .fa{
	font-size:30px;
}

.navbar-brand a{
	color:#3E454C;
}
.navbar-brand a:hover{
	color:#333333;
}

.navbar-brand-xs{
	padding-left:0;
	padding-top:10px;
}

.navbar-brand-xs .fa{
	font-size:30px;
}

.navbar-brand-xs a{
	color:#3E454C;
}
.navbar-brand-xs a:hover{
	color:#333333;
}

.nav-xs{
	padding-left:15px;
	padding-right:0;
}

.padding{
	padding-right:0;
}


// DESIGN ANNONCE DISPLAY ALL --------->

.leboutonpodrobnee h3{
	font-family: 'PROPAGAN';
	font-style: bold;
	color:#725756;
	font-size: 18px;
	padding:5px;
	border: dashed 1px #6d5756;
	
}

.leboutonpodrobnee h3:hover{
	font-family: 'PROPAGAN';
	font-style: normal;
	background-color:#6d5756;
	color: white;
	font-size: 18px;
	padding:5px;
	border: dashed 1px #6d5756;
	
}

.leboutonpodrobnee{
	border:none;
	background-color: none;
	border-radius: none;
	color:none;
}

.expired{
	
	position: absolute;
	margin-top:60px;
	font-size:17px;
	font-family: 'Russo One', sans-serif;
	
}

.expired p{
	border: dotted 2px #E69595;
	padding:6px;
	color:#E69595;
	transform: rotate(-40deg);
	
}

.expiredxs{
	
	position: absolute;
	margin-top:60px;
	margin-left:20px;
	font-size:17px;
	font-family: 'Russo One', sans-serif;
	
}

.expiredxs p{
	border: dotted 2px #E69595;
	padding:6px;
	color:#E69595;
	transform: rotate(-40deg);
	
}

.cont_2part{
	margin:0;
	padding:0;
}


										// Search //

										//XS//
.search-row-xs{
	border-bottom:solid 0.2px #d5d7c2;
	background-color:white;

}

.search-bar1-xs{
	padding-left: 5px;
    padding-right: 0px;
    height: 45px;
    border-right: solid 1px #d5d7c2;
    padding-top: 5px;
}

.search-bar2-xs{
	padding-left: 5px;
    padding-right: 0px;
    padding-top: 5px;
    height: 45px;
}

.search-bar3-xs{
	padding: 0px;
    border-left: solid 1px #d5d7c2;
    height: 45px;
}

.search-bar3-xs .fa{
	padding: 0;
}

.search-bar3-xs:active{
	background-color:green;
}

.poisk-xs{
    width: 100%;
    color: #777;
    border: none;
    background-color: white;
    font-size: 25px;
    padding-top: 6px;
    padding-left: 0;
    padding-right: 0;
}

.poisk-xs:active{
	background-color:#fdfdf2;
}

										//XS//

.navbar-container{
	padding: 0px;
	background-color:white;
}

.navbar-search{
	padding:0;
}


.navbar-icone{
	padding-left: 0px;
	padding-right:50px;
    font-size: 35px;
}

.navbar-icone a{
	color:#3E454C;
}

.navbar-icone-sm{
    font-size: 35px;
}

.navbar-icone-sm a{
	color:#3E454C;
}

.home {
    width:100%;
    
    height: 52px;
    border: none;
    font-size: 10pt;
    color: #777;
    padding: 10px;
    border-radius: 0px;
}

.home input{
	color:white;
}

.search-bar1{
	border-left: solid 1px #d5d7c2;
	border-right: solid 1px #d5d7c2;
	-webkit-border-left: solid 1px #d5d7c2;
	-webkit-border-right: solid 1px #d5d7c2;
	padding:0;
}


.search-bar3{
	border-left: solid 1px #d5d7c2;
	border-right: solid 1px #d5d7c2;
	-webkit-border-left: solid 1px #d5d7c2;
	-webkit-border-right: solid 1px #d5d7c2;
	padding:0;
}

.poisk{
	width: 100%;
    height: 52px;
    color: #777;
    border: none;
    background-color:white;
    font-size:25px;
  
}

.poisk fa{
	color: #d5d7c2;
	margin:0
}

.poisk:hover p{
	margin-top: 1px;
	color:white;
}

.no-padding{
	padding:15px 0;
}

.office-col-sm {
	position:relative;
	left:35px
}

.office-col-sm a{
	color:#777;
}

.log-out-col{
	padding-left:0;
}

.log-out-col a{
	color:#777;
}


									//Search//

.home p{
	color:#3B444F;
}

.homexs{
	position: relative;
	top:8px;
  display: inline-block;
  width: 100%;
  border: none;
  font-size: 10pt;
  color: #777;
}

.search-bar3-xs{
	padding: 0;
}

.image-size {
  max-width: 300px;
  max-height: 300px;
}

.fotonotfound{
	margin:5px;
	border-radius:5px;
	background: asset-data-url("marshrutka.jpg") no-repeat center center;
	background-size:100%;
	width:300px;
	height:250px;
}

.showstyle{
	display:block;
}


.fotonotfoundxs{
	margin:auto;
	border-radius:5px;
	background: asset-data-url("marshrutka.jpg") no-repeat center center;
	background-size:100%;
	width:300px;
	height:240px;
}

.editmenu{
	background-color: #9cbbc9;
	border-radius: 5px 5px 0 0;
	border-left: solid 1px #B8B89F;
	color:white;
}

.editmenu a {
	color:white;
}

.editmenu p {
	color:white;
}
.annoncexs{
	background-color:#F6F3EE;
	margin-bottom:10px;
	margin-top:5px;
	padding:5px;
	border:solid 1px #dbcfbd;
	padding-left:0;
	padding-right: 0;
	padding-top: 0;
}

.thebackground{
	background-color:#F6F3EE;
	padding:10px;
	border-bottom: solid 1px #B8B89F;
	border-left: solid 1px #B8B89F;
}

.xspodrobneebtn{
	width:40%;
	margin-bottom:10px;

}

.contactbtn .glyphicon{
	font-size:20px;
}

.annonce{
	background-color:#F6F3EE;
	padding:10px;
	border-bottom: solid 1px #B8B89F;
	cursor: pointer; cursor: hand;
	width:80%;
	margin-bottom:10px;
	margin-top:10px;
	border-radius: 5px;
}

.mesannoncesback{
	cursor: pointer; cursor: hand;
	width:80%;
	margin-bottom:10px;
	margin-top:10px;
	border-radius: 5px;
}

.marges{
	padding-top:5px;
}

.photo{
	margin-left:0;
	padding-left:0;
}
.prixcontact{
	border-left:solid 1px #C3C4BC;
}

.prixxs{
background-color: #ede7de;
width:100%;

}


.infosm{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #ede7de;
	border-top: solid 0.5px gray;
}

.prixsm{
width:100%;
}

.prixsm h3{
	font-size:21px;
	color:#cb676f;
	font-family: 'Russo One', sans-serif;
}

.prixpassagerxs h4{
	font-size:21px;
	color:#cb676f;
	font-family: 'Russo One', sans-serif;
}

.prix h3{
	font-size:21px;
	color:#cb676f;
	font-family: 'Russo One', sans-serif;
	
}

.prix .fa{
	color:#cb676f;
}
.datedirectionxs h4{
	color:#8faa9e;
	font-family: 'Russo One', sans-serif;
	font-size:20px;
	
}

.datedirectionxs p{
	color:#8faa9e;
	font-size:17px;
	font-family: 'Russo One', sans-serif;
	margin-top:19px;
	padding-left:0;	
}

.date-price-sm{
	padding:0;
}

.tudasyudaxs h4{
	font-family: 'Russo One', sans-serif;
	color:gray;
	font-size: 22px;
}

.datedirection h4{
	font-size:21px;
}

.datedirection p{
	color:#8faa9e;
	font-size:19px;
	font-family: 'Russo One', sans-serif;
}

.ladate{

	color:gray;
	font-family: 'Russo One', sans-serif;
	font-size:18px;
	padding-bottom: 15px;
}

.datedirection{
	border-bottom:solid 1px #C3C4BC;
}

.datedirectionbackground{
	width:100%;
	background-color:#ede7de; 
	margin:0;
}

.datedirectionbackground a{
	color:gray; 
}

.datedirectionbackgroundmesannoncessm{
	background-color:#ede7de; 
}

.datedirectionbackgroundmesannoncessm a{
	color:gray; 
}


.deleteeditmenusm{
	padding-top: 12px;
}

.listing-information{
	border-left:solid 1px #C3C4BC;
	font-size:14px;
}

.listing-information p{
	color: gray;
    font-family: 'Play', sans-serif;
}

.listing-information-sm p{
	color: gray;
    font-family: 'Play', sans-serif;
}

.listing-information-xs{
	font-size:13px;
	padding:0 5px;
}

.listing-information-xs p{
	color: gray;
    font-family: 'Play', sans-serif;
}

.listing-information2-xs{
	border-left:solid 1px #C3C4BC;
	font-size:13px;
	padding:0 5px;
}

.listing-information2-xs p{
	color: gray;
    font-family: 'Play', sans-serif;
}



// DESIGN ANNONCE DISPLAY INDIVIDUAL --------->

.villeinterhide {
	display: none;
	
}



.ajouterbtn{
	background-color:yellow;
}

.imagenotfound{
	background: asset-data-url("marshrutka.jpg") no-repeat center center;
	background-size:100%;
	width:300px;
	height:300px;
}

.menubasxs .glyphicon{
	color:#8B9698;
	font-size:25px;
}

.tabulation{
	margin-right:15px;
}

.enteteannonce{
	width:80%;
	background-color:gray;
	margin-top:15px;
	border-radius:5px 5px 0px 0px
}

.enteteannoncexs{
	background-color:#778691;
	margin:0;
	padding:0;
}

.enteteannoncexs h4{
	color:white;
}

.enteteannonce h4{
	font-size:16px;
	color:white;
}

p{
	color:gray;
}
.contact{
	display:none;
}
.menurowxs{
	background-color:#8B9698;
}

.menuhaut{
	list-style-type:none;
}

.menuhautxs{
	list-style-type:none;
}
.menuhaut li{
	display:inline;
	margin-left:20px;
}

.menuhaut li a {
	color:#5BC0DE;
}

.menuhautxs li a {
	margin-top:0;
}

.menuhautxs a .glyphicon{
		margin-top:0;
	font-size:25px;
	color:white;
}
.menuhaut li a:active {
    color:#B8B89F;
}


.descriptionannonce{
	word-wrap: break-word;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	height:auto;
}

.cenazaproezd{
	word-wrap: break-word;
	color:#5FBA7D;
}

.conseil{
	word-wrap: break-word;
	border-bottom:solid 1px #B8B89F;
	margin-bottom:15px;
}

.telephonesChauffeurs p{
	color:gray;
}

h4{
	color:#B8B89F;
}


.conseil h3{
	color:#B8B89F;
}

.conseil p{
	color:gray;
}

input, textarea{
	word-wrap: break-word;
       -webkit-border-radius: 30px; 
       -moz-aborder-radius: 30px; 
       border-radius: 30px; 

}

.inputter {
    background-position: 5px -7px !important;
    padding-left: 10px;
    width: 270px;
	height:30px;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
	margin-bottom:10px;
}

.inputter:focus {
    background-color: #FFF;
    border-color: #E8C291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}

.icone{
	
	color:gray ;
}

.imageput {
	margin-left:30%;
	margin-bottom:10px;
}

.imageputxs {
	margin-bottom:10px;
}



.voditelphoto{

	text-align:center;
}


.dateDepartShowMd h1 {
	font-size: 19px;
	color:gray;
	font-family: 'Russo One', sans-serif;
}	

.prixDepartShowMd h1{
	
	font-size: 19px;
	color:#cb676f;
	font-family: 'Russo One', sans-serif;

}
									
.villesDepartShowMd h1 {
	font-size: 19px;
	color:#8faa9e;
	font-family: 'Russo One', sans-serif;
}
										

.nazvanie{
	color:#919191;
}

.allinfo{
	word-wrap: break-word;
	background-color:white;
	radius:5px;
}

.mapinfo{
	word-wrap: break-word;
	border-bottom:solid 1px #B8B89F;
}

.vehiculeinfo{
	border-bottom:solid 1px #B8B89F;
}

.annonceindividuel{
	width:80%;
	border-left:solid 1px #D8CAA8;
	border-right:solid 1px #D8CAA8;
	border-bottom:solid 1px #D8CAA8;
	background-color:white;
	border-radius: 0px 0px 5px 5px;
}


.annonceindividuelxs{
	margin:0;
	padding:0;
	border-bottom:solid 1px #D8CAA8;
	background-color:white;
	border-radius:5px;
}
.check{
	width:20px;
	height:20px;
	margin-left:0;
}

.check-label{
	margin-left:2px;
	margin-right:2px;	
}

.checkcol{
	padding:0;
}

.messagebox{
	resize: none;
	word-wrap: break-word;
	width: 80%;
	padding: 10px 20px 20px 20px;
	height:150px;
	background-color:#FDFAE9;
	border:none;
	border-radius: 0;
}

.messagebox-md{
	resize: none;
	word-wrap: break-word;
	width: 100%;
	padding: 10px 20px 20px 20px;
	height:70px;
	background-color:#f4f2ef;
	border:none;
	border-radius: 0;
}

.messagebox-md::-webkit-input-placeholder{
	color: gray;
}

::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }

.messageboxxs{
	resize: none;
	word-wrap: break-word;
	width: 80%;
	height:150px;
	background-color:#FDFAE9;
	border:none;
	border-radius: 0;
}
.podrobneeotpravit{
	padding-right: 10%;
	background: none;
	border: none;
	border-radius: 0;
}

.podrobneeotpravit-md{
	position: absolute;
	height: 70px;
	top:20px;
	background: none;
	color:gray;
	border: none;
	border-radius: 0;
}

.neobxodimo-zaregistrirovatsya h5{
	color:#b2966c;
	font-family: "Play, sans-serif";
}

.btn-envoyer-md{
	padding-left: 0;
}

.podrobneeotpravitxs{
	padding-right: 5px;
	background: none;
	border: none;
	border-radius: 0;
	color:white;
}

.podrobneeotpravitxs p{
	color:white;
}


.podrobneeotpravit p{
	color:white;
}

.messageboxxs{
	background-color: white;
	word-wrap: break-word;
	border-radius:7px;
	border:solid 1px gray;
	width: 100%;
	height:100px;
	padding: 15px;
}

.listcontact .glyphicon{
	margin-top:15px;
	font-size:25px;
}

.infoDroitexs{
	border-bottom:solid 1px gray;
}

//HOMEPAGE DESIGN 

.strelki .glyphicon{
	
	font-size:30px;
	color:white;
}

.homeinstructions{
	color:#BDC9D5;
	padding-bottom:2px;
	border-bottom:solid 1px #7E96AE;
}


.searchformmd{
	background-color: rgba(0, 0, 42, 0.3);
	border-radius:15px;
	padding:10px;
	width:80%;
	margin:auto;
	margin-top:5%;
}

.cont_mob_1part{
    width: 100%;
    height: 100%;
    z-index: -10;
    background: asset-data-url("cover.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cont_1part { 
	width:100vw;
	height:100vh;
  background: asset-data-url("cover.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.searchform{
	margin-top:5%;
}

.container{
	margin:0;
	padding:0;
}

.nowyoucan{
	color:green;
}
.agir{
	height:250px;
	background-color:#5E7C88;
}
.agir .fa{
	margin-top:25px;
	margin-bottom:15px;
	font-size:50px;
	color:#F0788C;
}

.agir p .fa{
	margin:0;
	padding:0;
	font-size:14px;
	color:white;
}
.agir h3{
	color:#ECEBF0;
	border-top:solid 1px #698a97;
}
.agir p{
	color:#ECEBF0;
}

.agir a{
	color:#F0788C;
}


.tuto{
	height:250px;
	background-color:#BAB293;
}
.tuto .fa{
	margin-top:20px;
	font-size:50px;
	color:#5E7C88;
}

.tuto p .fa{
	margin:0;
	padding:0;
	font-size:14px;
	color:white;
}
.tuto h3{
	color:#ECEBF0;
	border-top:solid 1px #c4bda3;
}
.tuto p{
	color:#ECEBF0;
}


.info{
	height:250px;
	background-color:#D96459;
}
.iconinfo .fa{
	margin-top:20px;
	font-size:50px;
	color:#EFE4BD;
}
.info h3{
	color:#ECEBF0;
	border-top:solid 1px #de776e;
}
.info p{
	color:#ECEBF0;
}
.iconjaune{
	color:#F28D00;
}




.poiskxss{
	width:100px;
	height:28px;
	padding-left:15px;
	padding-right:15px;
	color:none;
	border:none;
	border-radius:5px;
	background-color:#718BC8;
}

.poiskallxs { 
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius:5px;
	border:2px solid white;
}

.poiskallxs:hover{ 
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color:rgba(0,0,0,0.2) ;
	border-radius:5px;
	border:2px solid white;
}

.poiskall:hover{ 
	width:30%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color:rgba(0,0,0,0.2) ;
	border-radius:5px;
	border:2px solid white;
}

.searchform .btn-info:active{ 
	background-color:rgba(0,0,0,0.2);
	border-radius:none;
	border:none;
}


.poiskall { 
	width:30%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius:5px;
	border:2px solid white;
}


.poiskxs { 
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color: #718BC8;
	border-radius:5px;
	border:none;
}

.poiskall strong { 
	color:white;
}

.poiskallxs strong { 
	color:white;
}

.sozdatannonce{
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius:5px;
	border:2px solid white;
	
}

.sozdatannonce p{
	font-size:16px;
	color:white;
	margin-top:8px;
	
}


.sozdatannonce:hover{
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color:#F0788C;
	border:none;
	border-radius:5px;
	
}

.sozdatannonce:hover p{
	color:white;
	margin-top:10px;
	
	
}

//MAIL INBOX

.messageinputxs{
	width:90%;
	height:40px;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
}
.corpsmessagexs{
	width:100%;
	min-height:30vh;
	max-height:65vh;
	overflow:auto;
	padding:15px;
}

.tapetextxs{
	background-color:#F2F2F2;
	position: fixed;
	height: 15vh;
	bottom: 0;
	width: 100%;
}

.couleurnouveaumessage .glyphicon{
	color:#EB7878;
}

.couleurnouveaumessage p{
	display:inline;
	color:#EB7878;
}
.messagelien{
	padding-top:20px;
	border-bottom:solid 1px #B8B89F;
	border-radius:25px;
}

.messagelien .glyphicon{
	color:#28BE9B;
}

.messagelien:hover{
	background-color:#F0F1EE;
	border-radius:25px;
}

.messagelienNonlu{
	background-color:#F5F6D4;
	padding-top:20px;
	border-bottom:solid 1px #B8B89F;
	border-radius:25px;
}

.messagelienNonlu:hover{
	background-color:#F0F1EE;
	border-radius:25px;
}

.messagelienNonlu .glyphicon{
	color:#E94C6F;
}

.messagerie{
	background-color:white;
	border-radius:25px;
	margin-top:15px;
}

.subject{
	margin-bottom:20px;
	border-radius:25px;
}

.subjecttextxs p{
	color:gray;
	margin-left:15px;
}

.subjecttext a{
	color:#67727A;
}

.subjecttext a:hover{
	text-decoration: none;
	color:#6991AC;
}

.created_at{
	color:#5A6A62;
}

.deletemessage .fa {
	color:#D96459;
}

.moisoobshenie{
	border-bottom:solid 1px #B8B89F;
	margin-bottom:0;
}

// MESSAGE AREA DESIGN
