// DESIGN BODY LAYOUT --------->

.count_mob_2partxs{
	border-top: dashed 3px #4d5051;
	border-bottom: dashed 3px #4d5051;
	padding-top: 20px;
	background-color: #2B2D2E;
	padding-left: 5px;
}


.footer-md{
	border-top: dashed 3px #4d5051;
	border-bottom: dashed 3px #4d5051;
	padding-top: 20px;
	background-color: #2B2D2E;
	padding-left: 5px;
}

.footer-md h5{
	font-size: 18px;
	color: #635545;
	font-family: 'Russo One', sans-serif;
}

.footer-md .fa{
	font-size: 35px;
	color: #635545;
}

.footer-md ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

.footer-md ul li a{
	font-style: italic;
	font-weight: lighter;
	color: #525557;
	padding-bottom: 5px;
}

.footer-md ul li a:hover{
	font-style: italic;
	font-weight: lighter;
	color: #a49960;
}

.footer-md ul li{

	padding-bottom: 8px;
}

.footer-lists-xs{
	border-top: dashed 1px #4d5051;
	padding-bottom: 15px;
}

.footer-blocks-xs{
	padding-top: 15px;
}

.footer-blocks-xs {
	padding: 8px;
}

.count_mob_2partxs h5{
	font-size: 18px;
	color: #635545;
	font-family: 'Russo One', sans-serif;
}

.count_mob_2partxs .fa{
	font-size: 35px;
	color: #635545;
}

.count_mob_2partxs ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

.count_mob_2partxs ul li a{
	font-style: italic;
	font-weight: lighter;
	color: #525557;
	padding-bottom: 5px;
}

.count_mob_2partxs ul li a:hover{
	font-style: italic;
	font-weight: lighter;
	color: #a49960;
}

.count_mob_2partxs ul li{

	padding-bottom: 8px;
}
.datedepartrowxs h4{
	font-family: 'Russo One', sans-serif;
	color: black;
}


.vajnoexs{
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FDFAE9;

}

.vajnoexs h4{
	color:#a1bfb1;
	font-family: 'Russo One', sans-serif;
}

.tudadateprixxs{
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: dashed 3px #a1bfb1;
}

.photo-responsive{
	width: 100%;
	height: 70vh;
}


.photo-responsivemini{
	width: 100%;
	height: 40vh;
}

.paragraphone{
	padding: 10px 5px 5px 10px;
	border-radius: 20px 20px 20px 0;
	border: 4px solid #a1bfb1;
	margin-top: 20px;
	text-align: justify;
}

.paragraphone h5{
	font-size: 15px;
	color:#FDFAE9;
}

.speech{
	border: dashed 4px #83A37A;
	border-radius: 0 25px 25px 25px;
	padding: 5px;
}

.speechcontainer{
	padding: 2px;
	margin-top:40px;
	background-color: #E69894;
	border-radius: 0 25px 25px 25px;
}

.chauffeuriconk{
	margin-top:45px;
	color:white;
}




.gorodpodrobnee{
	width:45px;
	padding-right: 8px;
	text-align: left;
	color:#8a8a8a;
}

.gorodpodrobnee p{
	color:#EDE8D5;
}

.gorodpodrobnee h4{
	font-size: 29px;
}

.gorodpodrobnee h3{
	color:#E69894;
	font-size: 29px;
}

.podrobnemarshrut{
	padding-top: 30px;
}

.podrobnemarshrutxs{
	padding-top: 45px;
	padding-bottom: 20px;
}

.mapxs{
	padding-top: 30px;
	height:70px;
}

.maplinepodrobnee{
	position:absolute;
	width: 25px;
	border-top:solid 3px #a1bfb1;
	margin-top: 12px;
}

.podrobnemarshrut h4{
	color:#a1bfb1;
}

.vajnoeoba{
	overflow: hidden;
	height: 480px;
	margin: 0;
	padding:0;
	height: 70vh;
}

.vajnoe{
	width: 100%;
	margin: 0;
	padding: 15px;
	height: 70vh;
	background-color: #FDFAE9;
}

.fotopardefaultxs img{
	width:100%;
}

.vajnoe2{
	display:none;
	width: 100%;
	background-color: #E69894;
	margin: 0;
	height: 70vh;
}

.vajnoe2xs{
	width: 100%;
	background-color: #E69894;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.containercustom2{
	background-color: #78A38F;
	width: 100%;
	padding-bottom: 5%;
}

.cartexs2{
	padding-top: 15px;
}

.containercustom2xs{
	background-color: #78A38F;
	width: 100%;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 0px;
	margin:0;
}
.tuda .datedeparture h4{
	margin-top: 14px;
	font-size: 19px;
	color:#a1bfb1;

}

.headershow{
	height: 70vh;
	overflow: hidden;
}

.lastvoditelmashina{
	padding-top: 5px;
	width:100%;
	height: auto;
	padding-bottom: 5px;
}

.lastvoditelmashinaxs{
	padding-top: 5px;
	width:100%;
	height: auto;
	padding-bottom: 5px;
}

.lastvoditelmashina2{
	padding-top: 15px;
	width:100%;
	height: auto;
	padding-bottom: 5px;
}

.lastvoditelmashina2 .fa{
	padding:0;
	margin: 0;
	font-size: 55px;
	color:#FDFAE9;
}

.lastvoditelmashina .fa{
	padding:15px;
	margin: 0;
	font-size: 55px;
	color:#E69894;
}

.lastvoditelmashinaxs .fa{
	padding:0;
	margin: 0;
	font-size: 31px;
	color:#E69894;
}

.colmd4{
	margin:0;
	padding:0;
}


.lastvoditelmashinaxs h3{
	padding: 0;
	margin-top:5px;
	font-size: 17px;
	color:gray;
}

.lastvoditelmashina h3{
	padding: 0;
	margin-top:5px;
	font-size: 17px;
	color:gray;
}
.voditeletmashina .fa{
	padding:0;
	margin: 0;
	font-size: 31px;
	color:#E69894;

}

.voditeletmashinaxs .fa{
	padding:0;
	margin: 0;
	font-size: 31px;
	color:#E69894;

}

.voditeletmashina2 .fa{
	padding:0;
	margin: 0;
	font-size: 31px;
	color:#FDFAE9;

}

.voditeletmashina2 h3{
	padding: 0;
	margin-top: 5px;
	margin-left: 0px;
	font-size: 17px;
	color:white;

}

.voditeletmashina h3{
	margin-top:5px;
	padding: 0;
	font-size: 17px;
	color:gray;

}

.voditeletmashinaxs h3{
	margin-top:5px;
	padding: 0;
	font-size: 17px;
	color:gray;

}

.paragraphone2{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}

.voditeletmashinaspec2 h5{
	color:white;
}

.voditeletmashina2{
	border-bottom: 2px dashed rgba(220, 210, 173, 0.82);
	padding-top: 15px;
	width:100%;
	height: auto;
	padding-bottom: 15px;
}

.voditeletmashina2{
	padding-top: 15px;
	width:100%;
	height: auto;
	padding-bottom: 15px;
}

.voditeletmashina{
	border-bottom: 2px dashed rgba(220, 210, 173, 0.82);
	padding-top: 15px;
	width:100%;
	height: auto;
	padding-bottom: 15px;
}


.voditeletmashinaxs{
	border-bottom: 2px dashed rgba(220, 210, 173, 0.82);
	padding-top: 10px;
	width:100%;
	padding-bottom: 5px;
}

.fotka img{
	filter: saturate(50%);
	filter: grayscale(100%);
}

.fotka{
	padding: 0;
	margin: 0;
}


.tuda{
	font-family: 'Russo One', sans-serif;
	border-bottom: dashed 3px #c2c2c2;
}

.tuda h4{
	padding-bottom: 10px;
	font-size:23px;
	color:#a1bfb1;
}


.containercustom{
	display: hidden;
	margin-left: 0;
	padding-left: 0;
}

.map{
	margin-bottom: 0px;
}

.podrobnexs{
	padding-right: 25px;
}

.gorod{
	width:57px;
	padding-right: 3px;
	text-align: left;
	color:#8a8a8a;
}

.gorod p{
	color:#8a8a8a;
}
.gorod h4{

	color:#a6a6a6;
}

.gorod h3{
	color:#E69595;
}

.gorodxs{
	width:25px;
	padding-right: 2px;
	color:#8a8a8a;
}

.gorodxs p{
	font-size: 12px;
	color:#8a8a8a;
}
.gorodxs h4{
	font-size: 14px;
	color:#a6a6a6;
}

.gorodxs h3{
	font-size: 14px;
	color:#E69595;
}

.maplinexs{
	position:absolute;
	width: 17px;
	height: 1px;
	background-color: #a6a6a6;
	margin-top: 10px;
}

.mailinfo{
	font-family: 'Marck Script', cursive;
	color:#dcd0bc;
}

.absolut{
	position:absolute;
}

.mobiletel{
	background-color: #F6F3EE;

}

.entourp{
	transform: rotate(-30deg);
}

.marshrut{
	border-top: solid 1px #D1CBD6;
	background-color: #f1ece4;
	padding-top: 20px;
}

.marshrutxs{
	background-color: #f1ece4;
	padding: 6px;
	padding-bottom: 10px;

}
.pinline{
	display:inline;
}

.maplinespec{
	position:absolute;
	width: 45px;
	height: 2px;
	background-color: #a6a6a6;
	margin-top: 12px;

}

.mapline{
	position:absolute;
	width: 45px;
	height: 2px;
	background-color: #a6a6a6;
	margin-top: 7px;
}

.pinlineblock{
	display:inline-block;
}

.ploho p{
	margin-top:5px;
	color:#DC574E;
}

.xorosho{
	border-left:solid 1px #D1CBD6;
}

.xorosho p{
	margin-top:5px;
	color:#A7BD5B;
}

.notverifiedxs{
	width:100%;
	height:auto;
}

.notverified{
	width:50%;
	height:auto;
}

.verify .fa{
	font-size:20px;
	color:green;
}

.inputterkod{

    background-position: 5px -7px !important;
    padding: 10px 10px 10px 25px;
    width: 150px;
	height:40px;
    border: 1px solid #CCC;
    -moz-border-radius: 8px;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
	margin-bottom:10px;
}

.inputter:focus {
    background-color: #FFF;
    border-color: #E8C291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}

.verification{
	width:50%;
	height:auto;
	background-color:#DAEAEF;
	border-radius:10px;
	margin-top:15px;
	margin-bottom:15px;
}

.verificationxs{
	width:100%;
	height:auto;
	background-color:#DAEAEF;
	border-radius:10px;
	margin-top:15px;
	margin-bottom:15px;
}

.verification .fa{
	font-size:18px;
	color:#E74C3C;
}

.verificationxs .fa{
	font-size:18px;
	color:#E74C3C;
}


.verification h5{
	color:#2A2C2B;
	display:inline;
}

.verificationxs h5{
	color:#2A2C2B;
	display:inline;
}

.verification h6{
	color:gray;
}

.verificationxs h6{
	color:gray;
}

.alert{
	margin:0;
	width:100%;
	height:60px;
}

.alert-{
	margin:0;
	width:100%;
	height:60px;
}

.textverif{
	width:50%;
	height:auto;
}


body.searches{
	background: asset-data-url("cover.jpg") center center fixed;
	background-color: #cb95a8;
	background-size:100%;
	font-family: 'Comfort', sans-serif;
	padding-bottom: 0px;
}

body{
	background-color: #FDFAE9;
	font-family: 'Comfort', sans-serif;
	padding-bottom: 0px;

}


a:focus { outline: 0; }
textarea:focus, input:focus{
    outline: none;
}

.row{
	margin:0;
}

// LOGIN DESIGN 

.vxodline{
	border-bottom:solid 1px gray;
}


// CREATE ANNONCE DESIGN 

.showcontainer{
	padding:15px;
	width: 80%;
	height: auto;
}

.enteteshow{
	background-color: #c0baaf;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px 5px 0 0;
}

.enteteshow h4{
	color:white;
}

.podrobnosti{
	padding-left:15px;
	padding-right:15px;
	word-wrap: break-word;
	width:100%;
	height:150px;
}

.perevozka{
	display:none;
}

.intercalere{
	border-top:solid 1px #B8B89F;
}

//NAVBAR GENERAL DESIGN

.notconnectedlinksmobile{
	margin-top:15px;
}

.notconnectedlinksmobile li{
	list-style-type:none;
	display:inline;
	margin-left:10px;
}

.notconnectedlinksmobile li a{
	color:#3E454C;
}

.notibtn{
	width:auto;
	height:40px;
	border-radius:5px;
}

.notif .fa{
	margin-top:3px;
	color:#F2594B;
	
}

.notif{
	color:#F2594B;
	
}
.navbar{
	border-radius:0;
	margin:0;
	padding:0;
	background-color: rgba(255,255,255,0.90);
}

.notconnectedlinks li a{
	color:#3E454C;
}
.notconnectedlinks li a:hover{
	background-color:transparent; 
	color:#333333;
}

.navbar-brand .fa{
	font-size:30px;
}

.navbar-brand a{
	color:#3E454C;
}
.navbar-brand a:hover{
	color:#333333;
}

// DESIGN ANNONCE DISPLAY ALL --------->

.leboutonpodrobnee h3{
	font-family: 'PROPAGAN';
	font-style: bold;
	color:#725756;
	font-size: 18px;
	padding:5px;
	border: dashed 1px #6d5756;
	
}

.leboutonpodrobnee h3:hover{
	font-family: 'PROPAGAN';
	font-style: normal;
	background-color:#6d5756;
	color: white;
	font-size: 18px;
	padding:5px;
	border: dashed 1px #6d5756;
	
}

.leboutonpodrobnee{
	border:none;
	background-color: none;
	border-radius: none;
	color:none;
}

.expired{
	
	position: absolute;
	margin-top:60px;
	font-size:17px;
	font-family: 'Russo One', sans-serif;
	
}

.expired p{
	border: dotted 2px #E69595;
	padding:6px;
	color:#E69595;
	transform: rotate(-40deg);
	
}

.expiredxs{
	
	position: absolute;
	margin-top:60px;
	margin-left:20px;
	font-size:17px;
	font-family: 'Russo One', sans-serif;
	
}

.expiredxs p{
	border: dotted 2px #E69595;
	padding:6px;
	color:#E69595;
	transform: rotate(-40deg);
	
}

.cont_2part{
	margin:0;
	padding:0;
}

.searchbackground{
	padding:5px;
	margin:0;
	width: 100%;
	height: auto;
	background-color: white;

}


.home{
	width: 200px;
  height: 30px;
  background-color: #F6F3EE;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.home p{
	color:#3B444F;
}

.homexs{
	width: 200px;
  height: 30px;
  background: #ededed;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 20px;
  padding-bottom: 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.image-size {
  max-width: 300px;
  max-height: 300px;
}

.fotonotfound{
	margin:5px;
	border-radius:5px;
	background: asset-data-url("marshrutka.jpg") no-repeat center center;
	background-size:100%;
	width:300px;
	height:250px;
}

.showstyle{
	display:block;
}


.fotonotfoundxs{
	margin:auto;
	border-radius:5px;
	background: asset-data-url("marshrutka.jpg") no-repeat center center;
	background-size:100%;
	width:300px;
	height:240px;
}

.editmenu{
	background-color: #9cbbc9;
	border-radius: 5px 5px 0 0;
	border-left: solid 1px #B8B89F;
	color:white;
}

.editmenu a {
	color:white;
}

.editmenu p {
	color:white;
}
.annoncexs{
	background-color:#F6F3EE;
	margin-bottom:10px;
	padding:10px;
	border:solid 1px #dbcfbd;
	padding-left:0;
	padding-right: 0;
	padding-top: 0;
}

.thebackground{
	background-color:#F6F3EE;
	padding:10px;
	border-bottom: solid 1px #B8B89F;
	border-left: solid 1px #B8B89F;
}

.xspodrobneebtn{
	width:40%;
	margin-bottom:10px;

}

.contactbtn .glyphicon{
	font-size:20px;
}

.annonce{
	background-color:#F6F3EE;
	padding:10px;
	border-bottom: solid 1px #B8B89F;
	cursor: pointer; cursor: hand;
	width:80%;
	margin-bottom:10px;
	margin-top:10px;
	border-radius: 5px;
}

.mesannoncesback{
	cursor: pointer; cursor: hand;
	width:80%;
	margin-bottom:10px;
	margin-top:10px;
	border-radius: 5px;
}

.marges{
	padding-top:5px;
}

.photo{
	margin-left:0;
	padding-left:0;
}
.prixcontact{
	border-left:solid 1px #C3C4BC;
}

.prixxs{
background-color: #ede7de;
width:100%;

}

.prixpassagerxs h4{
	font-size:21px;
	color:#cb676f;
	font-family: 'Russo One', sans-serif;
}

.prix h3{
	font-size:21px;
	color:#cb676f;
	font-family: 'Russo One', sans-serif;
	
}

.prix .fa{
	color:#cb676f;
}
.datedirectionxs h4{
	color:#639c8a;
	font-family: 'Russo One', sans-serif;
	font-size:20px;
	
}

.datedirectionxs p{
	color:gray;
	font-size:17px;
	font-family: 'Russo One', sans-serif;
	margin-top:19px;
	
}

.tudasyudaxs h4{
	font-family: 'Russo One', sans-serif;
	color:#639c8a;
}

.datedirection h4{
	font-size:21px;


}

.datedirection p{
	color:#639c8a;
	font-size:18px;
	font-family: 'Russo One', sans-serif;
	
}

.ladate{

	color:gray;
	font-family: 'Russo One', sans-serif;
	font-size:18px;
	padding-bottom: 15px;
}

.datedirection{
	border-bottom:dashed 2px #C3C4BC;
}

.datedirectionbackground{
	width:100%;
	background-color:#ede7de; 
	margin:0;
}



// DESIGN ANNONCE DISPLAY INDIVIDUAL --------->

.villeinterhide {
	display: none;
	
}

.villesdisplay{
	
	margin-bottom:15px;
}

.villesdisplay .ajout{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding:6px;
	background-color:#9DD7EB;
	color:white;
}

.villesdisplay .enlev{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding:6px;
	background-color:#EBA69D;
	color:white;
}

.numdisplay .ajoutnum{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding:6px;
	background-color:#9DD7EB;
	color:white;
}

.numdisplay .enlevnum{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding:6px;
	background-color:#EBA69D;
	color:white;
}

.ajouterbtn{
	background-color:yellow;
}

.imagenotfound{
	background: asset-data-url("marshrutka.jpg") no-repeat center center;
	background-size:100%;
	width:300px;
	height:300px;
}

.menubasxs .glyphicon{
	color:#8B9698;
	font-size:25px;
}

.tabulation{
	margin-right:15px;
}

.enteteannonce{
	width:80%;
	background-color:gray;
	margin-top:15px;
	border-radius:5px 5px 0px 0px
}

.enteteannoncexs{
	background-color:#778691;
	margin:0;
	padding:0;
}

.enteteannoncexs h4{
	color:white;
}

.enteteannonce h4{
	font-size:16px;
	color:white;
}

p{
	color:gray;
}
.contact{
	display:none;
}
.menurowxs{
	background-color:#8B9698;
}

.menuhaut{
	list-style-type:none;
}

.menuhautxs{
	list-style-type:none;
}
.menuhaut li{
	display:inline;
	margin-left:20px;
}

.menuhaut li a {
	color:#5BC0DE;
}

.menuhautxs li a {
	margin-top:0;
}

.menuhautxs a .glyphicon{
		margin-top:0;
	font-size:25px;
	color:white;
}
.menuhaut li a:active {
    color:#B8B89F;
}


.descriptionannonce{
	word-wrap: break-word;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	height:auto;
}

.cenazaproezd{
	word-wrap: break-word;
	color:#5FBA7D;
}

.conseil{
	word-wrap: break-word;
	border-bottom:solid 1px #B8B89F;
	margin-bottom:15px;
}

.telephonesChauffeurs p{
	color:gray;
}

h4{
	color:#B8B89F;
}


.conseil h3{
	color:#B8B89F;
}

.conseil p{
	color:gray;
}

input, textarea{
	word-wrap: break-word;
       -webkit-border-radius: 30px; 
       -moz-aborder-radius: 30px; 
       border-radius: 30px; 

}

.inputter {
    background-position: 5px -7px !important;
    padding-left: 10px;
    width: 270px;
	height:30px;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
	margin-bottom:10px;
}

.inputter:focus {
    background-color: #FFF;
    border-color: #E8C291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}

.perevoziti{
	
	color:gray ;
}

.imageput {
	margin-left:30%;
	margin-bottom:10px;
}

.imageputxs {
	margin-bottom:10px;
}

select {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 5px;
  color:gray;
  text-align:center;
  margin-bottom:10px;
}

select.date-select {
    width:auto;
    border: 1px solid #cccccc;
    background-color: gray;
}

select:focus {
	outline: 0;
	border:solid 2px #E8C291;
}

.voditelphoto{

	text-align:center;
}

									

									//registration and login pages//

									// XS  //

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.reg-log-xs

.user-xs {
	padding:0;
	color:white;
	font-size:35px;
	border:1px solid #D3D5C0;
	background-color:#D3D5C0;
	height:50px;
}

.montextfield-xs{
	padding:0;
	height:50px;
	color:#747453;
}

.obligatoir-xs{
	background-color:#FDFAE9;
	border:none;
	border-radius:0px;
	padding-left:5px;
	width:100%;
	height:50px;
	font-style:italic;
	font-size:12px;
}

.usertextfield-xs{
	padding-bottom:5px;
	color:#747453;
	font-size:12px;
}

.usertextfield-xs em{
	color:#D3D5C0
}

.confirmation-xs{
	padding: 5px 0 5px 0;
	height:50px;
	font-size:12px;
}

.confirmation-xs p{
	color:#D3D5C0;
}

.submit-box-row-xs{
	padding-bottom:30px;
	padding-top:0;
}

.submitbox-xs{
	color:#FDFAE9;
	border-radius:2px;
	background-color:#E69894;
	height:38px;
	width:138px;
	border-color:none;
	border:none;
	font-size:16px;
	font-weight:bold;
}

.remreg-xs{
	padding:0;
	margin-left:7.5%;
}

.remcol-xs{
    padding: 0;
}

.log-title-xs{
	border-bottom:dashed 2px #D3D5C0;
}

.log-title-xs h2 {
	color:#FDFAE9;
	font-family: 'Quicksand', sans-serif;
	padding-right:85px;
	padding-left:85px;
	margin-bottom:20px;
}

.settings-title-xs{
	border-bottom:dashed 2px #D3D5C0;
}

.settings-title-xs h2 {
	color:#FDFAE9;
	font-family: 'Quicksand', sans-serif;
	padding-right:40px;
	padding-left:40px;
	margin-bottom:20px;
}

.log-title-col-xs{
	padding:0;
}

.title-icone-xs{
	padding:0;
}

.title-text-xs{
	padding:0;
}

.remember-xs {
	color:#D3D5C0;
	font-weight:normal;
}

.passforgot-xs {
    padding: 0;
}

.passforgot-xs a{
	font-size:21;
	color:#D3D5C0;
}

.check-xs{
	font-size:20px;
}

.settings-block{
	border-radius:3px;
	background-color:#78A38F;
	padding:0;
	margin:0;
}


.settings-options-xs{
	margin-bottom:10px;
	margin-left:6px;
	margin-right:6px;
}


									// XS  //

									//SM//

.reg-sm{
	padding-top:20vh;
}

.settings-sm{
	padding-top:10vh;
	padding-bottom:10vh;
	width:510px;
}


								//SM//

.error{
	padding-left:36px;
	padding-right:36px;
}

.listerreurs{
	padding-left:0;
}

.listerreurs li{
	list-style-type:none;
}

.listerreurs li h5 {
	color:#d65d57;
}

.error h5{
	color:#D3D5C0;
}


.reg-log{
	padding-top:10vh;
	padding-bottom:10vh;
	width:auto;
}

.reg-log-block{
	border-radius:3px;
	background-color:#78A38F;
	padding:0;
}

.reg-log-block-border{
	border:dashed 3px #D3D5C0;
	border-radius:3px;
	padding:0;
}

.reg-title{
	border-bottom:dashed 2px #D3D5C0;
}

.reg-title h2 {
	color:#FDFAE9;
	font-family: 'Quicksand', sans-serif;
}

.log-title{
	border-bottom:dashed 2px #D3D5C0;
}

.log-title h2 {
	color:#FDFAE9;
	font-family: 'Quicksand', sans-serif;
	padding-right:100px;
	padding-left:100px;
	margin-bottom:20px;
}





input::-webkit-input-placeholder {
	color:#D3D5C0;	
}
 
input:-moz-placeholder { /* Firefox 18- */
	color:#D3D5C0; 
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color:#D3D5C0;  
}
 
input:-ms-input-placeholder {  
	color:#D3D5C0;
}

.iconedeuser{
	margin-top:10px;
}
.inputter{
	padding-left:0px;
}

.user {
	padding:0;
	color:white;
	font-size:35px;
	border:1px solid #D3D5C0;
	background-color:#D3D5C0;
	height:55px;
}

.montextfield{
	padding:0;
	height:55px;
	color:#747453;
}

.obligatoir{
	background-color:#FDFAE9;
	border:none;
	border-radius:0px;
	padding-left:5px;
	width:100%;
	height:55px;
	font-style:italic;
	font-size:15px;
}

.usertextfield{
	padding-bottom:10px;
	color:#747453;
}
.usertextfield em{
	color:#D3D5C0
}

.passwordblock{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:5px;
}

.userpassword1{
	padding-left:0px;
	padding-right:2px;
}

.userpassword2{
	padding-left:2px;
	padding-right:0px;
}

.parol{
	margin-bottom:10px;
}

.parol em{
	color:#919191;
}

.confirmation{
	padding: 5px 0 5px 0;
	height:50px;
}


.confirmation p{
	color:#D3D5C0;
}

.submitbox{
	color:#FDFAE9;
	border-radius:2px;
	background-color:#E69894;
	height:38px;
	width:148px;
	border-color:none;
	border:none;
	font-size:18px;
	font-weight:bold;
}

.submit-box-row{
	padding-bottom:30px;
	padding-top:5px;
}

.log-submitbox{
	margin-top:15px;
	margin-bottom:15px;
	color:#FDFAE9;
	border-radius:2px;
	background-color:#E69894;
	height:38px;
	width:80px;
	border-color:none;
	border:solid 0;
	font-size:18px;
	font-weight:bold;
}

.settings-submitbox {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FDFAE9;
    border-radius: 2px;
    background-color: #E69894;
    height: 38px;
    border-color: none;
    border: solid 0;
    font-size: 18px;
    font-weight: bold;
}

.remreg{
	padding:0;
	margin-top:4px;
}
.checkbox{
	padding:10px;
}

.remcol{
	padding:0;
}

.remember-md{
	color:#D3D5C0;
	font-weight:normal;
	margin-top:3px;
}

.passforgot{
	padding:0;
	margin-top:3px;

}

.passforgot a{
	font-size:21;
	color:#D3D5C0;
}

.regcol{
	margin-bottom:10px;
	padding:0;
	margin-top:0;
}
.regcol a{
	color:#D3D5C0;
	font-size:21;
}

.settings-delete-profile-and-goback {
	padding:0;
	margin-top:0;
}

.settings-delete-profile-and-goback a{
	font-size:21;
	color:#D3D5C0;
}



										//registration and login pages//

.nazvanie{
	color:#919191;
}

.allinfo{
	word-wrap: break-word;
	background-color:white;
	radius:5px;
}

.mapinfo{
	word-wrap: break-word;
	border-bottom:solid 1px #B8B89F;
}

.vehiculeinfo{
	border-bottom:solid 1px #B8B89F;
}

.annonceindividuel{
	width:80%;
	border-left:solid 1px #D8CAA8;
	border-right:solid 1px #D8CAA8;
	border-bottom:solid 1px #D8CAA8;
	background-color:white;
	border-radius: 0px 0px 5px 5px;
}


.annonceindividuelxs{
	margin:0;
	padding:0;
	border-bottom:solid 1px #D8CAA8;
	background-color:white;
	border-radius:5px;
}
.check{
	width:20px;
	height:20px;
	margin-left:0;
}

.check-label{
	margin-left:2px;
	margin-right:2px;	
}

.checkcol{
	padding:0;
}

.messagebox{
	resize: none;
	word-wrap: break-word;
	width: 80%;
	padding: 10px 20px 20px 20px;
	height:150px;
	background-color:#FDFAE9;
	border:none;
	border-radius: 0;
}

.messageboxxs{
	resize: none;
	word-wrap: break-word;
	width: 80%;
	height:150px;
	background-color:#FDFAE9;
	border:none;
	border-radius: 0;
}
.podrobneeotpravit{
	padding-right: 10%;
	background: none;
	border: none;
	border-radius: 0;
}

.podrobneeotpravitxs{
	padding-right: 5px;
	background: none;
	border: none;
	border-radius: 0;
	color:white;
}

.podrobneeotpravitxs p{
	color:white;
}


.podrobneeotpravit p{
	color:white;
}

.messageboxxs{
	background-color: white;
	word-wrap: break-word;
	border-radius:7px;
	border:solid 1px gray;
	width: 100%;
	height:100px;
	padding: 15px;
}

.listcontact .glyphicon{
	margin-top:15px;
	font-size:25px;
}

.infoDroitexs{
	border-bottom:solid 1px gray;
}

//HOMEPAGE DESIGN 

.strelki .glyphicon{
	
	font-size:30px;
	color:white;
}

.homeinstructions{
	color:#BDC9D5;
	padding-bottom:2px;
	border-bottom:solid 1px #7E96AE;
}


.searchformmd{
	background-color: rgba(0, 0, 42, 0.3);
	border-radius:15px;
	padding:10px;
	width:80%;
	margin:auto;
	margin-top:5%;
}

.cont_mob_1part{
    width: 100%;
    height: 100%;
    z-index: -10;
    background: asset-data-url("cover.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cont_1part { 
	width:100vw;
	height:100vh;
  background: asset-data-url("cover.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.searchform{
	margin-top:5%;
}

.container{
	margin:0;
	padding:0;
}

.nowyoucan{
	color:green;
}
.agir{
	height:250px;
	background-color:#5E7C88;
}
.agir .fa{
	margin-top:25px;
	margin-bottom:15px;
	font-size:50px;
	color:#F0788C;
}

.agir p .fa{
	margin:0;
	padding:0;
	font-size:14px;
	color:white;
}
.agir h3{
	color:#ECEBF0;
	border-top:solid 1px #698a97;
}
.agir p{
	color:#ECEBF0;
}

.agir a{
	color:#F0788C;
}


.tuto{
	height:250px;
	background-color:#BAB293;
}
.tuto .fa{
	margin-top:20px;
	font-size:50px;
	color:#5E7C88;
}

.tuto p .fa{
	margin:0;
	padding:0;
	font-size:14px;
	color:white;
}
.tuto h3{
	color:#ECEBF0;
	border-top:solid 1px #c4bda3;
}
.tuto p{
	color:#ECEBF0;
}


.info{
	height:250px;
	background-color:#D96459;
}
.iconinfo .fa{
	margin-top:20px;
	font-size:50px;
	color:#EFE4BD;
}
.info h3{
	color:#ECEBF0;
	border-top:solid 1px #de776e;
}
.info p{
	color:#ECEBF0;
}
.iconjaune{
	color:#F28D00;
}

.poisk{
	width:100px;
	height:30px;
	padding-left:15px;
	padding-right:15px;
	color:gray;
	border:none;
	border-radius:5px;
	background:none;
}


.poisk p{
	margin-top: 5px;
	color:gray;
}

.poisk:hover p{
	margin-top: 5px;
	color:white;
}


.poiskxss{
	width:100px;
	height:28px;
	padding-left:15px;
	padding-right:15px;
	color:none;
	border:none;
	border-radius:5px;
	background-color:#718BC8;
}

.poiskallxs { 
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius:5px;
	border:2px solid white;
}

.poiskallxs:hover{ 
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color:rgba(0,0,0,0.2) ;
	border-radius:5px;
	border:2px solid white;
}

.poiskall:hover{ 
	width:30%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color:rgba(0,0,0,0.2) ;
	border-radius:5px;
	border:2px solid white;
}

.searchform .btn-info:active{ 
	background-color:rgba(0,0,0,0.2);
	border-radius:none;
	border:none;
}


.poiskall { 
	width:30%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius:5px;
	border:2px solid white;
}


.poiskxs { 
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color: #718BC8;
	border-radius:5px;
	border:none;
}

.poiskall strong { 
	color:white;
}

.poiskallxs strong { 
	color:white;
}

.sozdatannonce{
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius:5px;
	border:2px solid white;
	
}

.sozdatannonce p{
	font-size:16px;
	color:white;
	margin-top:8px;
	
}


.sozdatannonce:hover{
	width:90%;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	background-color:#F0788C;
	border:none;
	border-radius:5px;
	
}

.sozdatannonce:hover p{
	color:white;
	margin-top:10px;
	
	
}

//MAIL INBOX

.messageinputxs{
	width:90%;
	height:40px;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
}
.corpsmessagexs{
	width:100%;
	min-height:30vh;
	max-height:65vh;
	overflow:auto;
	padding:15px;
}

.tapetextxs{
	background-color:#F2F2F2;
	position: fixed;
	height: 15vh;
	bottom: 0;
	width: 100%;
}

.couleurnouveaumessage .glyphicon{
	color:#EB7878;
}

.couleurnouveaumessage p{
	display:inline;
	color:#EB7878;
}
.messagelien{
	padding-top:20px;
	border-bottom:solid 1px #B8B89F;
	border-radius:25px;
}

.messagelien .glyphicon{
	color:#28BE9B;
}

.messagelien:hover{
	background-color:#F0F1EE;
	border-radius:25px;
}

.messagelienNonlu{
	background-color:#F5F6D4;
	padding-top:20px;
	border-bottom:solid 1px #B8B89F;
	border-radius:25px;
}

.messagelienNonlu:hover{
	background-color:#F0F1EE;
	border-radius:25px;
}

.messagelienNonlu .glyphicon{
	color:#E94C6F;
}

.messagerie{
	background-color:white;
	border-radius:25px;
	margin-top:15px;
}

.subject{
	margin-bottom:20px;
	border-radius:25px;
}

.subjecttextxs p{
	color:gray;
	margin-left:15px;
}

.subjecttext a{
	color:#67727A;
}

.subjecttext a:hover{
	text-decoration: none;
	color:#6991AC;
}

.created_at{
	color:#5A6A62;
}

.deletemessage .fa {
	color:#D96459;
}

.nomdemessage{
	
	color:#B8B89F;
}

.moisoobshenie{
	border-bottom:solid 1px #B8B89F;
	margin-bottom:0;
}

// MESSAGE AREA DESIGN

.messengerarea{
	word-wrap: break-word;
	border-radius: 15px;
	margin-bottom:15px;
}

.messagemoi{
	display:inline-block;
	margin:0;
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#4E7AC7;
	border-radius:20px 20px 20px 0;
}

.messagelui{
	display:inline-block;
	margin:0;
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#D7DADB;
	border-radius:20px 20px 0px 20px;
}

.msgmoi{
	margin:0;
	padding:0;
	color:white;
}

.msglui{
	margin:0;
	padding:0;
	color:gray;
}

.messageinput{
	word-wrap: break-word;
	padding-left:15px;
	padding-right:15px;
	border-radius:5px;
	width:80%;
	height:40px;
}
