//MyMenu css file

.moyoffice{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 0;
	padding-left: 0;
	width:60%;
}

.welcometooffice{
	width: 100%;
	background-color: #dacab5;
	border: 3px dashed #6d5655;
	color:#4e372c;
}


.higlighted:hover {
	cursor: pointer; cursor: hand;
	background-color: #f7f6ef;
}

.higlighted .fa{
	padding: 30px;
	font-size: 30px;
	color:#5c3e3b;
}

.profile-picture{
	width: 90px;
	height: 90px;
	border-radius: 50%;
}

.profile-picturenav{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.profile-picturexs{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.tekushiyprofil{
	border-bottom:3px dashed #5c3e3b;
	padding: 15px;
	background-color: #f7f6ef;

}

.titlep{
	font-size: 30px;
	color:#4e372c;
	font-family: 'Marck Script', cursive;
}

.higlighted {
	height: 250px;
	border-left:dashed 1px #ede9d5;
	border-right:dashed 1px #ede9d5;
	border-bottom:dashed 1px #ede9d5;
}

.higlighted:hover .fa{
	color:#cb676f;
}

.higlighted h3{
	color:#5c3e3b;
}

.higlighted:hover h3{
	color:#cb676f;
}

.higlighted:hover p{
	color:#a5b385;
}


.profile-picture:hover{
	cursor: pointer; cursor: hand;
}

.moyofficexs{
	padding:0;
	width:100%;
}


.tekushiyprofilxs {
	border-bottom:3px dashed #5c3e3b;
	padding: 5px;
	background-color: #f7f3de;
}

.titlepxs{
	font-size: 19px;
	color:#4e372c;
}

.higlightedxs{
	height: auto;
	border-bottom:dashed 1px #ede9d5;
}

.higlightedxs p{
	color:#a5b385;
}

.higlightedxs h3{
	color:#cb676f;
	font-size:21px;
}

.higlightedxs .fa{
	color:#cb676f;
	padding: 20px;
	font-size: 30px;
}

.titlepsm {
	font-size: 24px;
	color:#4e372c;
}

.hightsm{
	height: 220px;
}
