<h3>Здраствуйте <%= @resource.prenom %>!</h3>

<p>Вы запросили инструкцию по замене пороля на нашем сайте. </p>
<h4>Пожалуйста нажмите на -> <%= link_to 'изменить свой пароль', edit_password_url(@resource, reset_password_token: @token) %> чтобы создать новый пароль.</h4>
<p>Если вы не делали запрос по замене пороля на mymarshrut.com, можите просто проигнорировать это сообшение. </p>
<p>Спасибо за понемание, до скорого на mymarshrut.com</p>